@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    background-color: #289BDE;
}

.elearning-institute-details {
    background-color: #F4FAFD;
}

.join-section {
    background-color: #289BDE;
}

footer {
    height: 440px;
}